body {
    background-color: #222;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.cmd-admin {
    background-color: #111;
    text-align: center;
    position: relative;
    top: 45px;
    font-size: 20px;
    border: 5px solid;
    border-radius: 45px;
    border-color: rgb(130, 3, 248);
    text-decoration: underline;
}


.title-2 {
    position: relative;
    top: 120px;
    text-align: center;
    text-decoration: underline;
}


.cmd-fun {
    background-color: #111;
    text-align: center;
    text-decoration: underline;
    position: relative;
    top: 45px;
    font-size: 20px;
    border: 5px solid;
    border-radius: 45px;
    border-color: rgb(130, 3, 248);
}

.other-cmd {
    background-color: #111;
    text-align: center;
    position: relative;
    top: 45px;
    font-size: 20px;
    border: 5px solid;
    border-radius: 45px;
    border-color: rgb(130, 3, 248);
}

.title-3 {
    position: relative;
    top: 120px;
    text-align: center;
    text-decoration: underline;
}

.title-ut {
    position: relative;
    top: 65px;
    text-decoration: underline;
}
