body {
    background-color: #222;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.space {
    margin: 20px;
    position: relative;
    top: 250px;
}
